{% extends "layouts/main.html" %}

{% set active = "registration" %}

{% block title %}{{ Locale.get("REGISTRATION") }}{% endblock %}

{% block content %}

<div class="container col-3 mt-3">
    <form method="POST">
        <div class="form-group">
            <label for="login">{{ Locale.get("LOGIN") }}</label>
            <input name="login" type="text" class="form-control" id="login" placeholder="{{ Locale.get("PRINT_LOGIN") }}">
        </div>
        <div class="form-group">
            <label for="password">{{ Locale.get("PASSWORD") }}</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="{{ Locale.get("PRINT_PASSWORD") }}">
        </div>
        <div class="form-group">
            <label for="password-confirm">{{ Locale.get("PASSWORD_SUCCESS") }}</label>
            <input name="password-confirm" type="password" class="form-control" id="password-confirm"
                   placeholder="{{ Locale.get("PRINT_PASSWORD_MORE") }}">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">{{ Locale.get("REGISTER") }}</button>
        </div>
    </form>
</div>
{% endblock %}
